.filepond--panel-root {
    background-color: transparent !important;
}

.dXhZSB {
    background-color: #2962ff;
}

.FIE_root * {
    font-family: inherit !important;
}

.SfxModal-Wrapper * {
    font-family: inherit !important;
}

.jpHEiD {
    font-family: inherit !important;
}

#editor_container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.dAEuRT {
    justify-content: start;
}

.cLktZn {
    width: auto !important;
}

