.filepond--panel-root {
    background-color: transparent !important;
}

.FIE_root * {
    font-family: inherit !important;
}

.SfxModal-Wrapper * {
    font-family: inherit !important;
}

.FIE_save-modal {
    width: auto !important;
}

.SfxMenu-root {
    font-family: inherit !important;
}

#editor_container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.FIE_topbar {
    justify-content: start;
}

/*Tabulator Dark mode Fix */

.tabulator-menu .tabulator-menu-item {
    color: #000;
}

.tabulator {
    background-color: var(--tblr-bg-surface) !important;
}

.tabulator .tabulator-header {
    background-color: var(--tblr-bg-surface) !important;
}

.tabulator-col {
    background-color: var(--tblr-bg-surface) !important;
}

.tabulator-cell {
    background-color: var(--tblr-bg-surface) !important;
}

.tabulator-footer {
    background-color: var(--tblr-bg-surface) !important;
}

.tabulator .tabulator-header {
    border-top: 1px solid var(--tblr-dark-mode-border-color-translucent) !important;
    border-bottom: 1px solid var(--tblr-dark-mode-border-color-translucent) !important;
}

.tabulator-row {
    background-color: var(--tblr-bg-surface) !important;
    border-bottom: 1px solid var(--tblr-dark-mode-border-color-translucent) !important;
}

.tabulator .tabulator-footer {
    border-top: none !important;
}

.tabulator .tabulator-footer .tabulator-page {
    border: 1px solid var(--tblr-bg-surface) !important;
    border-radius: var(--tblr-border-radius) !important;
}

.tabulator .tabulator-footer .tabulator-page.active {
    color: var(--tblr-pagination-active-color);
    background-color: var(--tblr-pagination-active-bg);
    border-color: var(--tblr-pagination-active-border-color);
}

.tabulator .tabulator-footer .tabulator-page-size {
    border: 1px solid var(--tblr-bg-surface) !important;
    border-radius: 3px;
}


/*Fix Editor Dark Mode*/

.jodit-container:not(.jodit_inline) .jodit-workplace {
    background-color: var(--tblr-bg-surface) !important
}

.jodit-toolbar-editor-collection_mode_horizontal {
    background-color: var(--tblr-bg-surface) !important;
}

.jodit-icon {
    display: block;
    fill: var(--tblr-body-color);
}

.jodit-workplace + .jodit-status-bar:not(:empty), .jodit-status-bar-link {
    background-color: var(--tblr-bg-surface) !important;
    color: var(--tblr-body-color) !important;
}
